* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: $color-bg-primary;
  color: $color-text-primary;
  font-family: $font-family-primary;
  line-height: 1.6;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; // Prevent scrollbars in fullscreen app
}
